*.out
CMakeCache.txt
CMakeFiles
test
cmake_install.cmake
hypergraph/*.u
matrix/*.mtx
matrix/*.tar.gz
bin/*
partition/*.part
test/
stdout
stderr
log/*
script/cpu/*.sh
*.part
run*.sh
*.stat
*.err
*.out
*.o
*.o.cpu
*.o.mic
*.o.gpu
pbs/*.ER
pbs/*.OU
