*.out
CMakeCache.txt
CMakeFiles
cmake_install.cmake
hypergraph/*.u
*.mtx
matrix/*.tar.gz
bin/*
partition/*.part
stdout
stderr
log/*
script/cpu/*.sh
*.part
run*.sh
*.stat
*.err
*.out
*.o
*.o.cpu
*.o.mic
*.o.gpu
pbs/*.ER
pbs/*.OU
