*.out
CMakeCache.txt
CMakeFiles
./Makefile
test
cmake_install.cmake
hypergraph/*.u
matrix/*.mtx
matrix/*.tar.gz
bin/*
partition/*.part
test/
stdout
stderr
log/*
script/cpu/*.sh
*.part
script/*/*.sh
*.stat
